<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta name="robots" content="noindex">

        <title><%=error%> <%=title%> - DBViewer</title>
        <meta name="description" content="">

        <%- include("./general/head.ejs", locals) %>
    </head>
    <body>
        <main>
            <h1><%=error%> <%=title%></h1>
            <p>
                <% if (Array.isArray(description))
                {
                    for (const line of description) { %> <%=line%><br> <% }
                }
                else
                { %>
                    <%=description%>
                <% } %>
            </p>
            <a href="/">На главную</a>
        </main>
    </body>
</html>