<% locals.has_nav = true; %>
<!DOCTYPE html>
<html lang='ru'>
    <head>
        <script src="https://www.gstatic.com/charts/loader.js" nonce="<%=res.cspNonce.script%>" defer></script>
        <title><%=tables.find(table => table.id == req.query.id).name%></title>
        <meta name="description" content="Таблица <%=tables.find(table => table.id == req.query.id).name%>">
        <script src="/static/js/table_data.js" type="module" nonce="<%=res.cspNonce.script%>"></script>
        <%- include("./general/head.ejs", locals) %>
    </head>
    <body>
        <%- include("./general/nav.ejs", locals) %>
        
        <div class="main_body">
            <%- include("./general/header.ejs", locals) %>
            <main tabindex="-1">
                <h1>Таблица <span id="table_name"><%=tables.find(table => table.id == req.query.id).name%></span></h1>
                <dl>
                    <dt>Тип</dt>
                    <dd id="table_type">&nbsp;</dd>

                    <dt>Объём памяти</dt>
                    <dd id="table_size">&nbsp;</dd>

                    <dt>Количество записей в таблице</dt>
                    <dd id="table_rows">&nbsp;</dd>
                </dl>
                <p>Ниже представлена статистика нагрузки на сервер базы данных, которая может быть полезна при диагностике ошибок БД администратором:</p>
                <div class="graphs margin_vertical_medium">
                    <div class="surface_rounded" id="reads_graph"></div>
                    <div class="surface_rounded" id="scans_graph"></div>
                    <div class="surface_rounded" id="updates_graph"></div>
                    <div class="surface_rounded" id="live_graph"></div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </body>
</html>